p {
	color: black;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}
h5 {
	color: black;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}
h6 {
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}
p.calificacion {
	color: white;
	font-family: Tahoma, Geneva, sans-serif;
}
.cuadroRestaurante {
	background-color: #81d4fa ;
	box-shadow: 5px 5px 2px grey;
	width: 98%;
}

.cuadroDescuentos {
	background-color: #dce775 ;
	box-shadow: 5px 5px 2px grey;
	width: 98%;
}
.imagen{
	/*define el tamaño del circulo*/
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}